{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "Default": "Host=localhost;Port=5432;Database=inventory;Username=admin_inventory;Password=REEMPLAZAR_CON_LA_MISMA_PASSWORD_DEL_.ENV"
  },
  "Jwt": {
    "Key": "REEMPLAZAR_CON_LA_MISMA_CLAVE_DEL_.ENV_JWT_KEY"
  },
  "Smtp": {
    "User": "REEMPLAZAR_CON_TU_CORREO_DE_GMAIL",
    "Password": "REEMPLAZAR_CON_TU_CONTRASEÑA_DE_APLICACION_DE_GMAIL"
  }
}
